{% macro paginator(logs, url_prefix, queryParams = {}) %}
{% set totalPages = logs.lastPage %}
{% set currentPage = logs.currentPage %}
{% set range = 2 %}
{% if totalPages > 1 %}
 <div class="pagination">

{# Build query string from queryParams #}
{% set queryString = '' %}
{% set queryParams = queryParams|default({}) %}
{% if queryParams is not empty %}
    {% set pairs = [] %}
    {% for k, v in queryParams %}
        {% set pairs = pairs|merge([k|url_encode ~ '=' ~ v|url_encode]) %}
    {% endfor %}
    {% set queryString = '&' ~ pairs|join('&') %}
{% endif %}

 {% if currentPage > 1 %}
 <a href="{{ url_prefix }}{{ logs.url(1) }}{{ queryString }}">[1]</a>
 <a href="{{ url_prefix }}{{ logs.url(currentPage - 1) }}{{ queryString }}">&nbsp;Prev&nbsp;</a>
{% endif %}
{% if currentPage > range + 2 %}
 <span>...</span>
{% endif %}
{% set start = max(currentPage - range, 1) %}
{% set end = min(currentPage + range, totalPages) %}
{% if currentPage <= range %}
{% set end = min(5, totalPages) %}
{% elseif currentPage >= totalPages - range %}
{% set start = max(totalPages - 4, 1) %}
{% endif %}
{% for page in start..end %}
 {% if page == currentPage %}
  <strong>{{ page }}</strong>
 {% else %}
  <a href="{{ url_prefix }}{{ logs.url(page) }}{{ queryString }}">{{ page }}</a>
 {% endif %}
{% endfor %}
{% if currentPage < totalPages - range - 1 %}
 <span>...</span>
{% endif %}
{% if currentPage < totalPages %}
 <a href="{{ url_prefix }}{{ logs.url(currentPage + 1) }}{{ queryString }}">&nbsp;Next&nbsp;</a>
 <a href="{{ url_prefix }}{{ logs.url(totalPages) }}{{ queryString }}">[{{ totalPages }}]</a>
{% endif %}
</div>
{% endif %}
{% endmacro %}
