<div class='formmap'>
{{ form_start(mailaliassearchform) }}

<div class="form-row">
<div class='info'>{{ form_label(mailaliassearchform.alias) }}</div>
<div class='detail'>{{ form_widget(mailaliassearchform.alias) }}</div>
<div class='submit'>{{ form_widget(mailaliassearchform.search) }}</div>
</div>

{{ form_end(mailaliassearchform) }}
</div>
