<section>

<div class='current_mails descr'>
{% if date %}
{{ date }}:
{% endif %}
Total E-mail Aliases: {{ totalRecords }}
{% if totalRecords > items_per_page %}
| Displaying {{ items_per_page }}/page
{% endif %}
<div id="inside_links">
<ul>
<li><a href='{{ route('ADMIN_ALIASES_ADD') }}'>Add New Alias</a></li>
{% if current_route == route('ADMIN_ALIASES_SEARCH') %}
<li><a href='{{ route('ADMIN_ALIASES') }}'>Show All Aliases</a></li>
{% endif %}
</ul>
</div>
</div>

{% if is_admin and mailaliassearchform %}
<div class="mapsearchform">
{% include 'partials/alias_search.html.twig' %}
</div>
{% endif %}

{% if aliases and totalRecords > 0 %}
<div class='aliases'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 <th>Username</th>
 <th>E-mail</th>
 <th>Alias</th>
 <th>Created</th>
 <th>Modified</th>
 <th>Delete</th>
</tr></thead>

<tbody>
{% for alias in aliases %}
  <tr class='clean'>
  <td class='center'>{{ alias.username }}</td>
  <td class='center'>{{ alias.email }}</td>
  <td class='center'>{{ alias.alias }}</td>
  <td class='center'>{{ alias.created_at }}</td>
  <td class='center'>{{ alias.updated_at }}</td>
  <td class='center'><a href="{{ route('ADMIN_ALIASES_DEL', { id: alias.id }) }}" onclick="return confirm('Are you sure you want to delete alias {{ alias.alias }} for user {{ alias.username }}?')">Delete</a></td>
  </tr>
{% endfor %}

{% else  %}
<p class='center help-text2'>No entries found</p>
{% endif %}

</tbody>

</table>
</div>
</section>
