<div class='footer'>
<a href="{{ FOOTER_URL }}" target="_blank">{{ FOOTER_NAME }}</a> {{ FOOTER_VERSION }} &copy;
{% if "now"|date("Y") > 2025 %}
2025 - {{ "now"|date("Y") }}
{% else %}
{{ "now"|date("Y") }}
{% endif %}
</div>
