<div class='formmap'>
{{ form_start(mapsearchform) }}

<div class="form-row">
<div class='info'>{{ form_label(mapsearchform.field) }}</div>
<div class='detail'>{{ form_widget(mapsearchform.field) }}</div>
<div class='submit'>{{ form_widget(mapsearchform.search) }}</div>
</div>

{{ form_end(mapsearchform) }}
</div>
