{% if is_admin %}

{% import 'macros/paginator.macro.twig' as ui %}
<section>

<div class='pagtop'>
{{ ui.paginator(map_entries, WEB_BASE) }}
</div>

<div class="center-container">

<div class='mapform descr'>
{% if is_admin %}
Custom Map: <a target='_blank' href="{{ maps_url_base ~ map ~ '.txt' }}">{{ mapdescr }}</a><br/>
{% else %}
Custom Map: {{ mapdescr }}<br/>
{% endif %}
{{ totalRecords|nf }} entries
{% if last_activity %}
| Updated {{ last_activity }}
{% endif %}
{% if totalRecords > items_per_page %}
<br/>Displaying {{ items_per_page }}/page
{% endif %}

<div id="inside_links">
<ul>
<li><a href='{{ get_route('admin_map_add_entry', { map: map} ) }}'>Add New entry</a></li>
<li><a href='{{ get_route('admin_map_del_all_entries', { map: map} ) }}' onclick="return confirm('Are you sure you want to delete all entries from map: \'{{ mapdescr }}\'?')">Delete All Entries</a></li>
</ul>
</div>
</div>

{% if map_entries is not empty %}

{% if mapsearchform %}
<div class="mapsearchform">
{% include 'partials/map_search.html.twig' %}
</div>
{% endif %}

<div class='mapform'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 {% for field in fields %}
 <th class='email'>{{ descriptions[loop.index0] ?? field }}</th>
 {% endfor %}
 <th class='email'>Updated</th>
 <th class='email'>Enable/Disable</th>
 <th class='email'>Delete</th>
 <th class='email'>Edit</th>
</tr></thead>

<tbody>
    {% for entry in map_entries %}
		{% set parts = [] %}
      <tr class='clean'>
          <td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.pattern }}</td>
			 <td class='center'>{{ entry.updated_at }}</td>
			 <td class='center'>
				<a href="{{ get_route('admin_map_toggle_entry', { map: map, id: entry.id }) }}">
				{{ entry.disabled ? 'Enable' : 'Disable' }}</a>
			 </td>
          <td class='center'><a href="{{ get_route('admin_map_del_entry', { map: map, id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete entry:\n\'{{ entry.pattern }}\'\nfrom Map:\n\'{{ mapdescr }}\'?')">Delete</a></td>
          <td class='center'><a href="{{ get_route('admin_map_edit_entry', { map: map, id: entry.id }) }}">Edit</a></td>
      </tr>
    {% endfor %}
</tbody>

</table>
</div>

{% else %}
    <p>No entries found</p>
{% endif %}

</div>
</section>
{% endif %}
