<section>

{% if map_configs is not empty %}

<div class='current_mails descr'>
Manage Custom Maps | Total: {{ totalRecords }} entries
{% if totalRecords > items_per_page %}
| Displaying {{ items_per_page }}/page
{% endif %}
<div id="inside_links">
<ul>
<li><a href='{{ get_route('admin_maps_custom_add') }}'>Add New Custom Map</a></li>
</ul>
</div>
</div>

<div class='users'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
<thead><tr>
 <th>Map Description</th>
 <th>Map Name</th>
 <th>Field Name</th>
 <th>Field Label</th>
 <th>Created</th>
 <th>Entries</th>
 <th>Delete</th>
</tr></thead>

<tbody>
    {% for entry in map_configs %}
      <tr class='clean'>
			<td class='center'><a href="{{ get_route('admin_map_show', { map: entry.map_name }) }}">{{ entry.map_description }}</a></td>
			<td class='center'><a target='_blank' href="{{ maps_url_base ~ entry.map_name ~ '.txt' }}">{{ entry.map_name }}</a></td>
			<td class='center'>{{ entry.field_name }}</td>
			<td class='center'>{{ entry.field_label }}</td>
			<td class='center'>{{ entry.created_at }}</td>
			<td class='center'><a href="{{ get_route('admin_map_show', { map: entry.map_name }) }}">{{ entry.map_entries }}</a></td>
			<td class='center'><a href="{{ get_route('admin_maps_custom_del', { id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete custom map:\n\'{{ entry.map_description }}\'?\n\'{{ entry.map_entries }}\' map entries will also be deleted.')">Delete</a></td>
      </tr>
    {% endfor %}
</tbody>

</table>
</div>

{% else %}
    No entries found
{% endif %}

</section>
