{% import 'macros/paginator.macro.twig' as ui %}
<section>

{% if map_comb_entries is not empty %}

<div class='pagtop'>
{{ ui.paginator(map_comb_entries, WEB_BASE) }}
</div>

<div class='current_mails descr'>
All Basic/Combined Map Entries<br/>
Total: {{ map_comb_total }} entries
{% if totalRecords > items_per_page %}
| Displaying {{ items_per_page }}/page
{% endif %}
</div>

<div class='users'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 <th>Map Description</th>
 {% if is_admin %}
  <th>Map Name</th>
 {% endif %}
 <th>{{ field_descriptions.mail_from }}</th>
 <th>{{ field_descriptions.mime_from }}</th>
 <th>{{ field_descriptions.rcpt_to }}</th>
 <th>{{ field_descriptions.ip }}</th>
 <th>Created</th>
 <th>Creator</th>
 <th>Enable/Disable</th>
 <th>Delete</th>
</tr></thead>

<tbody>
    {% for entry in map_comb_entries %}
      <tr class='clean'>
			{% if is_admin %}
			<td class='center'><a href="{{ get_route('admin_map_show', { map: entry.map_name }) }}">{{ entry.map_description }}</a></td>
			<td class='center'><a target='_blank' href="{{ maps_url_base ~ entry.map_name ~ '.txt' }}">{{ entry.map_name }}</a></td>
			{% else %}
			<td class='center'><a href="{{ get_route('map_show', { map: entry.map_name }) }}">{{ entry.map_description }}</a></td>
			{% endif %}
			<td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.mail_from }}</td>
			<td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.mime_from }}</td>
			<td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.rcpt_to }}</td>
			<td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.ip }}</td>
			<td class='center'>{{ entry.created_at }}</td>
			<td class='center'>{{ entry.map_username }}</td>
			<td class='center'>
			{% if is_admin %}
			   <a href="{{ get_route('admin_map_toggle_entry', { map: entry.map_name, id: entry.id }) }}">
			   {{ entry.disabled ? 'Enable' : 'Disable' }}</a>
			{% elseif entry.user_can_delete %}
			   <a href="{{ get_route('map_toggle_entry', { map: entry.map_name, id: entry.id }) }}">
			   {{ entry.disabled ? 'Enable' : 'Disable' }}</a>
			{% else %}
			   -
			{% endif %}
			</td>
			{% set exclude_keys = ['id', 'user_id', 'map_username', 'user_can_delete', 'map_name', 'map_description', 'created_at', 'updated_at'] %}
			{% set entry_str = '' %}

			{% for key, value in entry.attributes %}
			 {% if value is not null and key not in exclude_keys %}
			  {% set label = field_descriptions[key] is defined ? field_descriptions[key] : key %}
			  {% set entry_str = entry_str ~ label ~ ': ' ~ value ~ ' ' %}
			 {% endif %}
			{% endfor %}

{% if is_admin %}
			<td class='center'><a href="{{ get_route('admin_map_del_entry', { map: entry.map_name, id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete entry:\n\'{{ entry_str|trim }}\'\nfrom Map:\n\'{{ entry.map_description }}\'?')">Delete</a></td>
{% elseif entry.user_can_delete %}
			<td class='center'><a href="{{ get_route('map_del_entry', { map: entry.map_name, id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete entry:\n\'{{ entry_str|trim }}\'\nfrom Map:\n\'{{ entry.map_description }}\'?')">Delete</a></td>
{% else %}
			<td class='center'>-</td>
{% endif %}
      </tr>
    {% endfor %}
</tbody>

</table>
</div>

<div class='pagbottom'>
{{ ui.paginator(map_comb_entries, WEB_BASE) }}
</div>

{% elseif is_admin and map_gen_entries is not empty %}

<div class='current_mails descr'>
All Generic Map Entries | Total: {{ map_gen_total }} entries
{% if totalRecords > items_per_page %}
| Displaying {{ items_per_page }}/page
{% endif %}
</div>

<div class='users'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 <th>Map Description</th>
 <th>Map Name</th>
 <th>Field</th>
 <th>Pattern</th>
 <th>Created</th>
 <th>Delete</th>
</tr></thead>

<tbody>
    {% for entry in map_gen_entries %}
      <tr class='clean'>
			<td class='center'><a href="{{ get_route('admin_map_show', { map: entry.map_name }) }}">{{ entry.map_description }}</a></td>
			<td class='center'><a target='_blank' href="{{ maps_url_base ~ entry.map_name ~ '.txt' }}">{{ entry.map_name }}</a></td>
			<td class='center'>{{ entry.field_description }}</td>
			<td class='center'>{{ entry.pattern }}</td>
			<td class='center'>{{ entry.created_at }}</td>
			<td class='center'><a href="{{ get_route('admin_map_del_entry', { map: entry.map_name, id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete entry:\n\'{{ entry.field_description }} {{ entry.pattern }}\'\nfrom Map:\n\'{{ entry.map_description }}\'?')">Delete</a></td>
      </tr>
    {% endfor %}
</tbody>

</table>
</div>

{% elseif is_admin and map_custom_entries is not empty %}

<div class='pagtop'>
{{ ui.paginator(map_custom_entries, WEB_BASE) }}
</div>

<div class='current_mails descr'>
All Custom Map Entries | Total: {{ map_custom_total }} entries
{% if totalRecords > items_per_page %}
| Displaying {{ items_per_page }}/page
{% endif %}
</div>

<div class='users'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 <th>Map Description</th>
 <th>Map Name</th>
 <th>Field</th>
 <th>Pattern</th>
 <th>Created</th>
 <th>Enable/Disable</th>
 <th>Delete</th>
</tr></thead>

<tbody>
    {% for entry in map_custom_entries %}
      <tr class='clean'>
			<td class='center'><a href="{{ get_route('admin_map_show', { map: entry.map_name }) }}">{{ entry.map_description }}</a></td>
			<td class='center'><a target='_blank' href="{{ maps_url_base ~ entry.map_name ~ '.txt' }}">{{ entry.map_name }}</a></td>
			<td class='center'>{{ entry.field_description }}</td>
			<td class='center {{ entry.disabled ? 'disabled' }}'>{{ entry.pattern }}</td>
			<td class='center'>{{ entry.created_at }}</td>
			<td class='center'>
			   <a href="{{ get_route('admin_map_toggle_entry', { map: entry.map_name, id: entry.id }) }}">
				{{ entry.disabled ? 'Enable' : 'Disable' }}</a>
			</td>
			<td class='center'><a href="{{ get_route('admin_map_del_entry', { map: entry.map_name, id: entry.id }) }}" onclick="return confirm('Are you sure you want to delete entry:\n\'{{ entry.field_description }} {{ entry.pattern }}\'\nfrom Map:\n\'{{ entry.map_description }}\'?')">Delete</a></td>
      </tr>
    {% endfor %}
</tbody>

</table>
</div>

<div class='pagbottom'>
{{ ui.paginator(map_custom_entries, WEB_BASE) }}
</div>

{% else %}
    No entries found
{% endif %}

</section>
