<div class='formmap'>
{{ form_start(usersearchform) }}

<div class="form-row">
<div class='info'>{{ form_label(usersearchform.user) }}</div>
<div class='detail'>{{ form_widget(usersearchform.user) }}</div>
<div class='submit'>{{ form_widget(usersearchform.search) }}</div>
</div>

{{ form_end(usersearchform) }}
</div>
