{% include 'mail/header.twig' %}

<h3>The following mail has been saved in our quarantine storage<br/>
because our system has detected it as being high scored spam or that it contains a virus.</h3>
<table>
<tr><td><strong>Date</strong>:</td><td>{{ created_at }}</td></tr>
<tr><td><strong>From</strong>:</td><td>{{ mime_from }}</td></tr>
<tr><td><strong>To</strong>:</td><td>{{ rcpt_to }}</td></tr>
<tr><td><strong>Subject</strong>:</td><td>'{{ subject }}'</td></tr>
<tr><td><strong>Mail ID</strong>:</td><td>{{ qid }}</td></tr>
<tr><td><strong>Spam Score</strong>:</td><td>{{ score }}</td></tr>
<tr><td><strong>Virus Detected</strong>:</td><td>{% if has_virus %}Yes{% else %}No{% endif %}</td></tr>
<tr><td><strong>Action</strong>:</td><td>{{ action }} ({{ getDelivery(action) }})</td></tr>
</table>

<p>
You can see mail details and release it from quarantine by clicking
<a taget='_blank' href='{{ detailurl }}'>here</a>
</p>
<p>{{ signature | nl2br }}</p>

{% include 'mail/footer.twig' %}
