{% include 'mail/header.twig' %}

<h3>The following mail has been saved in our quarantine storage<br/>
because our system has detected it as being high scored spam or that it contains a virus.</h3>
<table>
<tr><td><strong>Date</strong>:</td><td>{{ created_at }}</td></tr>
<tr><td><strong>From</strong>:</td><td>{{ mime_from }}</td></tr>
<tr><td><strong>To</strong>:</td><td>{{ rcpt_to }}</td></tr>
<tr><td><strong>Subject</strong>:</td><td>'{{ subject }}'</td></tr>
<tr><td><strong>Mail Queue ID</strong>:</td><td>{{ qid }}</td></tr>
<tr><td><strong>Spam Score</strong>:</td><td>{{ score }}</td></tr>
<tr><td><strong>Virus Detected</strong>:</td><td>{% if has_virus %}Yes {{ virus_name }}{% else %}No{% endif %}</td></tr>
<tr><td><strong>Action</strong>:</td><td>{{ action }} ({{ getDelivery(action) }})</td></tr>
</table>

<p>
<a target='_blank' href='{{ detailurl }}'>Click here to view mail details and optionally release it from quarantine</a>.
</p>
<p>
You can disable these mail notifications by visiting your Profile page in the link above. You can also set your personal whitelist/blacklist.
</p>
<p>{{ signature | nl2br }}</p>

{% include 'mail/footer.twig' %}
