{% include 'mail/header.twig' %}

<h3>The following mail has been released from quarantine storage<br/>
and attached to this mail.</h3>
<h4>Please be very carefull before opening any attachment the original mail might have!</h4>
<table>
<tr><td><strong>Date</strong>:</td><td>{{ created_at }}</td></tr>
<tr><td><strong>From</strong>:</td><td>{{ mime_from }}</td></tr>
<tr><td><strong>To</strong>:</td><td>{{ rcpt_to }}</td></tr>
<tr><td><strong>Subject</strong>:</td><td>'{{ subject }}'</td></tr>
<tr><td><strong>Mail ID</strong>:</td><td>{{ qid }}</td></tr>
<tr><td><strong>Message ID</strong>:</td><td>{{ message_id }}</td></tr>
<tr><td><strong>Spam Score</strong>:</td><td>{{ score }}</td></tr>
<tr><td><strong>Virus Detected</strong>:</td><td>{% if has_virus %}Yes {{ virus_name }}{% else %}No{% endif %}</td></tr>
<tr><td><strong>Action</strong>:</td><td>{{ action }}</td></tr>
</table>

<p>{{ signature | nl2br }}</p>

{% include 'mail/footer.twig' %}
