{% extends 'base.html.twig' %}

{% block content %}
{% if mailaliasform %}

<span class='descr'>Add E-mail Alias</span>

<div class='form'>
{{ form_start(mailaliasform) }}

<div class='user_errors'>
{% if error %}
{{ error }}
{% endif %}
{{ form_errors(mailaliasform) }}
</div>

<div class="row">
<div class='info'>{{ form_label(mailaliasform.username) }}</div>
<div class='detail'>{{ form_widget(mailaliasform.username) }}
	{{ form_errors(mailaliasform.username) }}</div>
</div>
<div class="row">
<div class='info'>{{ form_label(mailaliasform.alias) }}</div>
<div class='detail'>{{ form_widget(mailaliasform.alias) }}
	{{ form_errors(mailaliasform.alias) }}</div>
</div>
<div class="row btn">
   {{ form_widget(mailaliasform.add) }}
</div>

{{ form_end(mailaliasform) }}

</div>

{% endif %}
{% endblock %}
