{% extends 'base.html.twig' %}

{% block content %}
{% if mailaliasform %}
<div class='userform'>
<span class='descr'>Edit User</span>

<div class='formuser'>
{{ form_start(mailaliasform) }}

<div class='user_errors'>
{% if error %}
{{ error }}
{% endif %}
{{ form_errors(mailaliasform) }}
</div>

<div class="row">
 <div class='info'>   {{ form_label(mailaliasform.username) }}</div>
 <div class='detail'> {{ form_widget(mailaliasform.username) }}
	{{ form_errors(mailaliasform.username) }}</div>
</div>
<div class="row">
 <div class='info'>   {{ form_label(mailaliasform.alias) }}</div>
 <div class='detail'> {{ form_widget(mailaliasform.alias) }}
	{{ form_errors(mailaliasform.email) }}</div>
</div>
<div class="row btn">
   {{ form_widget(mailaliasform.add) }}
</div>

{{ form_end(mailaliasform) }}
</div>

</div>
{% endif %}
{% endblock %}
