{% extends 'minimal.html.twig' %}

{% block content %}
{% if loginform %}
<div class='loginform'>
<span class='logindescr'>User Login</span>

<div class='formlogin'>
{{ form_start(loginform) }}

<div>
{{ form_errors(loginform) }}
</div>

<div class="row">
<div class='info'>   {{ form_label(loginform.username) }}</div>
<div class='detail'>   {{ form_widget(loginform.username) }}
	{{ form_errors(loginform.username) }}</div>
</div>

<div class="row">
<div class='info'>   {{ form_label(loginform.password) }}</div>
<div class='detail'>   {{ form_widget(loginform.password) }}
	{{ form_errors(loginform.password) }}</div>
</div>

<div class="row btn">
   {{ form_widget(loginform.submit) }}
</div>

{{ form_end(loginform) }}

{% if openidc_enabled %}
<div class="row btn">
<a href='{{ route('LOGIN_OPENIDC') }}'><button>{{ OPENIDC_LABEL }}</button></a>
</div>
{% endif %}

</div>
</div>
{% endif %}
{% endblock %}
