{% extends 'minimal.html.twig' %}

{% block content %}
{% if openidc_logout_url %}
  <div class='flash_messages'>
    <div class="flash-info">
      <a href="{{ openidc_logout_url|e('html_attr') }}" rel="noopener">
        Click here to log out from '{{ OPENIDC_LABEL }}'
      </a>
    </div>
  </div>
{% endif %}
{% if loginform %}
<div class='loginform'>
<span class='logindescr'>User Login</span>

<div class='formlogin'>
{{ form_start(loginform) }}

<div>
{{ form_errors(loginform) }}
</div>

<div class="row">
<div class='info'>   {{ form_label(loginform.username) }}</div>
<div class='detail'>   {{ form_widget(loginform.username) }}
	{{ form_errors(loginform.username) }}</div>
</div>

<div class="row">
<div class='info'>   {{ form_label(loginform.password) }}</div>
<div class='detail'>   {{ form_widget(loginform.password) }}
	{{ form_errors(loginform.password) }}</div>
</div>

<div class="row btn">
   {{ form_widget(loginform.submit) }}
</div>

{{ form_end(loginform) }}

{% if openidc_enabled %}
<div class="row btn">
<a href='{{ route('LOGIN_OPENIDC') }}'><button>Login with {{ OPENIDC_LABEL }}</button></a>
</div>
{% endif %}

</div>
</div>
{% endif %}
{% endblock %}
