{% extends 'base.html.twig' %}

{% block content %}

{% if mapselectform or mapselectcustomform %}
 {% include 'partials/map_select.base.twig' %}
{% endif %}

{% if mapform %}

<div class='userform'>
<span class='descr'>Add entry in Map: {{ mapdescr }}</span>

<div class='formuser'>

{{ form_start(mapform) }}

{% for field in mapform %}
 {% if field.vars.name != 'submit' and field.vars.name != '_token' %}
	<div class="row">
	 <div class='info'> {{ form_label(field) }}</div>
	 <div class='detail'>
	   {{ form_widget(field) }}
	   {{ form_errors(field) }}
		{# Add help text if defined #}
		{% if field.vars.help is not empty %}
		  <small class="help-text">{{ field.vars.help | nl2br }}</small>
		{% endif %}
	 </div>
	</div>
 {% endif %}
{% endfor %}

<div class="row btn">
 {{ form_widget(mapform.submit) }}
</div>

{{ form_end(mapform) }}

</div>
{% endif %}
</div>

{% endblock %}
