{% extends 'base.html.twig' %}

{% block content %}

{% if is_admin and mapform %}

<span class='descr'>Add Custom Map</span>

<div class='form'>
{{ form_start(mapform) }}

<div class='user_errors'>
{% if error %}
{{ error }}
{% endif %}
{{ form_errors(mapform) }}
</div>

<div class="row">
<div class='info'>{{ form_label(mapform.map_name) }}</div>
<div class='detail'>{{ form_widget(mapform.map_name) }}
   {{ form_errors(mapform.map_name) }}</div>
</div>
<div class="row">
<div class='info'>{{ form_label(mapform.map_description) }}</div>
<div class='detail'>{{ form_widget(mapform.map_description) }}
   {{ form_errors(mapform.map_description) }}</div>
</div>
<div class="row">
<div class='info'>{{ form_label(mapform.field_name) }}</div>
<div class='detail'>{{ form_widget(mapform.field_name) }}
   {{ form_errors(mapform.field_name) }}</div>
</div>
<div class="row">
<div class='info'>{{ form_label(mapform.field_label) }}</div>
<div class='detail'>{{ form_widget(mapform.field_label) }}
   {{ form_errors(mapform.field_label) }}</div>
</div>
<div class="row btn">
   {{ form_widget(mapform.submit) }}
</div>

{{ form_end(mapform) }}

</div>

{% endif %}

{% endblock %}
