{% extends 'base.html.twig' %}

{% block content %}
<div class="center-container">

<div class='quarantine'>

 <h2 class='descr'>Stored/Quarantined Mails</h2>
 <div class="row caption">
   <div class="cell left">Day</div>
   <div class="cell right"># of mails</div>
 </div>

<div class='quarantine_days'>
{% for day in days %}
 <div class="row">
  {% if is_admin %}
  <div class='cell day'><a href='{{ route('ADMIN_QUARANTINE_DAY', { date: day.day }) }}'>{{ day.day }}</a></div>
  {% else %}
  <div class='cell day'><a href='{{ route('QUARANTINE_DAY', { date: day.day }) }}'>{{ day.day }}</a></div>
  {% endif %}
  <div class='cell right cnt'>{{ day.cnt }} mails</div>
 </div>
{% endfor %}
</div>

</div>
</div>
{% endblock %}
