{% extends 'base.html.twig' %}

{% block content %}
<div class="center-container">

<div class='quarantine'>

 <span class='descr'>Top {{ max_items }} by {{ field|replace({'_': ' '})|upper }}</span>

 <div class="row caption">
   <div class="cell left">{{ field|replace({'_': ' '})|upper }}</div>
   <div class="cell right"># of mails</div>
 </div>

<div class='quarantine_days'>
{% for log in logs %}
 {% set value = attribute(log, field) %}
 <div class="row">
  <div class='cell day'>
  {% if field in reportFields %}
	{% if is_admin %}
	<a href="{{ get_route('admin_search_results') }}?{{ field }}={{ value|url_encode }}">
		{{ value }}
   </a>
	{% else %}
	<a href="{{ get_route('search_results') }}?{{ field }}={{ value|url_encode }}">
		{{ value }}
   </a>
	{% endif %}
  {% else %}
		{{ value }}
  {% endif %}
  </div>
  <div class='cell right cnt'>{{ log.total }}</div>
 </div>
{% endfor %}
</div>

{% endblock %}
