{% extends 'base.html.twig' %}

{% block content %}
<div class="center-container">

<div class='active_filters'>
<span class='descr'>Active Filters</span>
<ul>
{% for filter in filters %}
 <li class='filtername'>{{ filter.filter }} {{ filter.choice }} "{{ filter.value }}"
 <span class='filtervalue'>
 {% if is_admin %}
 <a href="{{ get_route('admin_search_filter_del', { filter_id: loop.index0 }) }}">Remove</a>
 {% else %}
 <a href="{{ get_route('search_filter_del', { filter_id: loop.index0 }) }}">Remove</a>
 {% endif %}
 </span></li>
{% else %}
<li>No filters</li>
{% endfor %}
</ul>
<span class='delall'>
{% if is_admin %}
<a href="{{ get_route('admin_search_filter_del') }}">Remove all</a>
{% else %}
<a href="{{ get_route('search_filter_del') }}">Remove all</a>
{% endif %}
</span>
</div>

{% if searchform %}
<div class='searchform'>

<span class='descr'>Add Filters</span>

<div class='formsearch'>
{{ form_start(searchform) }}
<div class='search_errors'>
{{ form_errors(searchform) }}
</div>

<div class="form-line">
   {{ form_widget(searchform.filter) }}
</div>
<div class="form-line">
   {{ form_widget(searchform.choice) }}
</div>
<div class="form-line row-flex">
   {{ form_widget(searchform.value) }}
   {{ form_widget(searchform.search) }}
</div>
{{ form_end(searchform) }}
</div>

<span class="form-errors name">
{{ form_errors(searchform.value) }}
</span>

</div>
{% endif %}

{% if stats %}
<div class='statistics'>
<span class='descr'>Statistics</span>
<ul>
 <li><span class="left">Total Records:</span> {{ stats.count|nf }}</li>
 {% if stats.count > 0 %}
 <li><span class="left">Stored:</span> {{ stats.stored|nf }}</li>
 <li><span class="left">Notifications:</span> {{ stats.notified|nf }}</li>
 <li><span class="left">Released:</span> {{ stats.released|nf }}</li>
 <li><span class="left">Has Virus:</span> {{ stats.has_virus|nf }}</li>
 <hr>
 {# Loop through all actions dynamically #}
{% for action, count in stats.action %}
    <li>
        <span class="left">{{ action|capitalize }}
		  ({{ ((count / stats.count * 100)|round(2))|nf(1) }}%):</span>
        {{ count|nf }}
    </li>
{% endfor %}
 <hr>
 <li><span class="left">Oldest Record:</span> {{ stats.first|date('Y-m-d') }}</li>
 <li><span class="left">Newest Record:</span> {{ stats.last|date('Y-m-d') }}</li>
 {% endif %}
</ul>
</div>
{% endif %}

<div class='reports'>
<span class='descr'>Results and Reports</span>
<ul>
{% if stats.count > 0 %}
 {% if is_admin %}
 <li><a href='{{ get_route('admin_search_results') }}'>Search Results</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'date'}) }}'>Mails per day</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'ip'}) }}'>Top IPs</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mail_from'}) }}'>Top Mail From</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mime_from'}) }}'>Top MIME From</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'rcpt_to'}) }}'>Top RCPT To</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mime_to'}) }}'>Top MIME To</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mail_from_domain'}) }}'>Top Mail From Domains</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mime_from_domain'}) }}'>Top MIME From Domains</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'rcpt_to_domain'}) }}'>Top RCPT To Domains</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'mime_to_domain'}) }}'>Top MIME To Domains</a></li>
 <li><a href='{{ get_route('admin_reports', { field: 'server'}) }}'>Top Servers</a></li>
 {% else %}
 <li><a href='{{ get_route('search_results') }}'>Search Results</a></li>
 <li><a href='{{ get_route('reports', { field: 'date'}) }}'>Mails per day</a></li>
 <li><a href='{{ get_route('reports', { field: 'ip'}) }}'>Top IPs</a></li>
 <li><a href='{{ get_route('reports', { field: 'mail_from'}) }}'>Top Mail From</a></li>
 <li><a href='{{ get_route('reports', { field: 'mime_from'}) }}'>Top MIME From</a></li>
 <li><a href='{{ get_route('reports', { field: 'rcpt_to'}) }}'>Top RCPT To</a></li>
 <li><a href='{{ get_route('reports', { field: 'mime_to'}) }}'>Top MIME To</a></li>
 <li><a href='{{ get_route('reports', { field: 'mail_from_domain'}) }}'>Top Mail From Domains</a></li>
 <li><a href='{{ get_route('reports', { field: 'mime_from_domain'}) }}'>Top MIME From Domains</a></li>
 <li><a href='{{ get_route('reports', { field: 'rcpt_to_domain'}) }}'>Top RCPT To Domains</a></li>
 <li><a href='{{ get_route('reports', { field: 'mime_to_domain'}) }}'>Top MIME To Domains</a></li>
 <li><a href='{{ get_route('reports', { field: 'server'}) }}'>Top Servers</a></li>
 {% endif %}
{% else %}
No results found
{% endif %}
</ul>

</div>

{% if is_admin and redis_config_ttl is not null %}
  {% if redis_config_ttl > 0 %}
    <p class='help-text2'>
      Config expires from Redis in {{ redis_config_ttl }}
      [{{ redis_config_expires_at }}]
    </p>
  {% elseif redis_config_ttl == -1 %}
    <p class='help-text2'>Redis config has no expiration (persistent)</p>
  {% elseif redis_config_ttl == -2 %}
    <p class='help-text2'>Redis config key not found</p>
  {% endif %}

  <p class='help-text2'><a href='{{ get_route('config_reload') }}'>Reload Config</a></p>
{% endif %}

</div>

{% endblock %}
