{% extends 'base.html.twig' %}

{% block content %}

<section>

{% if user %}
<div class='users'>
<table border='0' align='center' cellpadding='5' cellspacing='1' class='mail rowhover'>
<thead><tr>
 <th class='username'>Username</th>
 <th class='firstname'>First Name</th>
 <th class='lastname'>Last Name</th>
 <th class='email'>E-mail</th>
 <th>Created</th>
 <th>Modified</th>
</tr></thead>

<tbody>
  <td class='center'>{{ user.username }}</td>
  <td class='center'>{{ user.firstname }}</td>
  <td class='center'>{{ user.lastname }}</td>
  <td class='center'>{{ user.email }}</td>
  <td class='center'>{{ user.created_at }}</td>
  <td class='center'>{{ user.updated_at }}</td>
</tbody>

</table>
</div>
{% endif %}
</section>

{% endblock %}
