{% extends 'base.html.twig' %}

{% block content %}

{% if userform %}

<span class='descr'>Edit User</span>

{% if userdelform %}
 <div class='formdeluser'>
  {{ form_start(userdelform) }}
  {{ form_widget(userdelform.delete) }}
  {{ form_end(userdelform) }}
 </div>
{% endif %}

<div class='form'>
{{ form_start(userform) }}

<div class='user_errors'>
{% if error %}
{{ error }}
{% endif %}
{{ form_errors(userform) }}
</div>

<div class="row">
<div class='info'>   {{ form_label(userform.username) }}</div>
<div class='detail'>
{% if user_auth_provider %}
{{ form_widget(userform.username, { 'attr': { 'readonly': 'readonly' } }) }} (disabled for external users)
{% else %}
{{ form_widget(userform.username) }}
{% endif %}
	{{ form_errors(userform.username) }}</div>
</div>
<div class="row">
<div class='info'>   {{ form_label(userform.email) }}</div>
<div class='detail'>
{% if user_auth_provider %}
{{ form_widget(userform.email, { 'attr': { 'readonly': 'readonly' } }) }} (disabled for external users)
{% else %}
{{ form_widget(userform.email) }}
{% endif %}
	{{ form_errors(userform.email) }}</div>
</div>
<div class="row">
<div class='info'>   {{ form_label(userform.firstname) }}</div>
<div class='detail'>   {{ form_widget(userform.firstname) }}
	{{ form_errors(userform.firstname) }}</div>
</div>
<div class="row">
<div class='info'>   {{ form_label(userform.lastname) }}</div>
 <div class='detail'>  {{ form_widget(userform.lastname) }}
	{{ form_errors(userform.lastname) }}</div>
</div>
<div class="row">
<div class='info'>  {{ form_label(userform.password.first) }}</div>
<div class='detail'>
{% if user_auth_provider %}
{{ form_widget(userform.password.first, { 'attr': { 'readonly': 'readonly' } }) }} (disabled for external users)
{% else %}
{{ form_widget(userform.password.first) }}
{% endif %}
	{{ form_errors(userform.password.first) }}</div>
</div>
<div class="row">
<div class='info'>  {{ form_label(userform.password.second) }}</div>
<div class='detail'>
{% if user_auth_provider %}
{{ form_widget(userform.password.second, { 'attr': { 'readonly': 'readonly' } }) }} (disabled for external users)
{% else %}
{{ form_widget(userform.password.second) }}
{% endif %}
	{{ form_errors(userform.password.second) }}</div>
</div>
<div class="row">
<div class='info'>   {{ form_label(userform.disable_notifications) }}</div>
 <div class='detail'> {{ form_widget(userform.disable_notifications) }}
  {{ form_errors(userform.disable_notifications) }}</div>
</div>
<div class="row">
<div class='info'>   {{ form_label(userform.is_admin) }}</div>
 <div class='detail'>
{% if user_auth_provider %}
{{ form_widget(userform.is_admin, { 'attr': { 'disabled': 'disabled' } }) }} (disabled for external users)
{% else %}
 {{ form_widget(userform.is_admin) }}
{% endif %}
	{{ form_errors(userform.is_admin) }}</div>
</div>
<div class="row btn">
   {{ form_widget(userform.add) }}
</div>

{{ form_end(userform) }}

</div>

{% endif %}
{% endblock %}
